<div class="topbar">
  <img loading="lazy" src="assets/LOGO-CCP.png" alt="Logo CCP" class="logo">
  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input 
        type="text" 
        formControlName="value"
        [placeholder]="'BARRA.BUSCAR_PRODUCTOS' | translate" 
        class="search-input"
      />
    </form>
    
  </div>
  <div class="topbar-icons">
    <img loading="lazy" src="assets/bell.svg" alt="Notificaciones" class="icon">
    <img loading="lazy" src="assets/user.png" alt="Usuario" class="user-avatar">
  </div>
</div>