<div class="box">
  <div class="menu-light">
    <div class="element" (click)="menu()">
      <div class="text-wrapper">{{ 'MENU.PANEL' | translate }}</div>
      <img loading="lazy" class="img" alt="{{ 'MENU.PANEL' | translate }}" src="assets/home.svg" />
    </div>

    <div class="set">
      <div class="div">{{ 'MENU.LOGISTICA' | translate }}</div>

      <div class="element-2">
        <div class="text-wrapper-2" (click)="suppliers()">{{ 'MENU.PROVEEDORES' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.PROVEEDORES' | translate }}" src="assets/suppliers.svg" />
      </div>

      <div class="element-2">
        <div class="text-wrapper-2" (click)="vendedores()">{{ 'MENU.VENDEDORES' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.VENDEDORES' | translate }}" src="assets/sellers.svg" />
      </div>

      <div class="element-2">
        <div class="text-wrapper-2">{{ 'MENU.RUTAS' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.RUTAS' | translate }}" src="assets/routes.svg" />
      </div>
    </div>

    <div class="set-2">
      <div class="v-ENTAS">{{ 'MENU.VENTAS' | translate }}</div>

      <div class="element-3" (click)="productos()">
        <div class="text-wrapper-2">{{ 'MENU.PRODUCTOS' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.PRODUCTOS' | translate }}" src="assets/products.svg" />
      </div>

      <div class="element-4" (click)="goals()">
        <div class="text-wrapper-2">{{ 'MENU.METAS' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.METAS' | translate }}" src="assets/goals.svg" />
      </div>

      <div class="element-5" (click)="reports()">
        <div class="text-wrapper-2">{{ 'MENU.REPORTES' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.REPORTES' | translate }}" src="assets/reports.svg" />
      </div>
    </div>

    <div class="set-3">
      <div class="element-6" (click)="ajustes()">
        <div class="text-wrapper-3">{{ 'MENU.AJUSTES' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.AJUSTES' | translate }}" src="assets/settings.svg" />
      </div>

      <div class="element-7" (click)="logout()">
        <div class="text-wrapper-4">{{ 'MENU.CERRAR_SESION' | translate }}</div>
        <img loading="lazy" class="img" alt="{{ 'MENU.CERRAR_SESION' | translate }}" src="assets/logout.svg" />
      </div>
    </div>
  </div>
</div>
