<!DOCTYPE html>
<html>
  <body>
    <div class="box">
      <div class="menu-light">
        <div class="element">
          <div class="text-wrapper">Panel principal</div>
          <img class="img" src="assets/home.svg" />
        </div>
        <div class="set">
          <div class="div">LOGÍSTICA</div>
          <div class="element-2">
            <div class="text-wrapper-2">Proveedores</div>
            <img class="img" src="assets/suppliers.svg" />
          </div>
          <div class="element-2">
            <div class="text-wrapper-2">Vendedores</div>
            <img class="img" src="assets/sellers.svg" />
          </div>
          <div class="element-2">
            <div class="text-wrapper-2">Rutas</div>
            <img class="img" src="assets/routes.svg" />
          </div>
        </div>
        <div class="set-2">
          <div class="v-ENTAS">VENTAS</div>
          <div class="element-3">
            <div class="text-wrapper-2">Productos</div>
            <img class="img" src="assets/products.svg" />
          </div>
          <div class="element-4">
            <div class="text-wrapper-2">Metas</div>
            <img class="img" src="assets/goals.svg" />
          </div>
          <div class="element-5">
            <div class="text-wrapper-2">Reportes</div>
            <img class="img" src="assets/reports.svg" />
          </div>
        </div>
        <div class="set-3">
          <div class="element-6">
            <div class="text-wrapper-3">Ajustes</div>
            <img class="img" src="assets/settings.svg" />
          </div>
          <div class="element-7">
            <div class="text-wrapper-4">Cerrar sesión</div>
            <img class="img" src="assets/logout.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

