<div class="main-container">
  <app-barra-superior></app-barra-superior>
  <div class="content-container">
    <app-menu-lateral></app-menu-lateral>
    <div class="content-area">
      

      <form class="product-form" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <h1 class="form-title">{{ 'REGISTRO_PROVEEDORES.TITULO' | translate }}</h1>
        
        <div class="form-grid">
          
          <div class="form-group">
            <div class="label-izq">
              <label for="name">{{ 'REGISTRO_PROVEEDORES.NOMBRE_LABEL' | translate }}</label>
            </div>
          </div>
      
          <div class="form-group">
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.NOMBRE_PLACEHOLDER' | translate }}" 
                id="name" 
                class="form-input" 
                formControlName="name"
              >
              <!-- Requerido -->
              <div class="error-msg"
                  *ngIf="supplierForm.get('name')?.touched && supplierForm.get('name')?.hasError('required')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.NOMBRE_REQUERIDO' | translate }}
              </div>
              <!-- Longitud -->
              <div class="error-msg"
                  *ngIf="supplierForm.get('name')?.touched && (supplierForm.get('name')?.hasError('minlength') 
                    || supplierForm.get('name')?.hasError('maxlength'))">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.NOMBRE_LONGITUD' | translate:{min:3,max:100} }}
              </div>
              <!-- Caracteres no permitidos -->
              <div class="error-msg"
                  *ngIf="supplierForm.get('name')?.touched && supplierForm.get('name')?.hasError('pattern')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.NOMBRE_CARACTERES' | translate }}
              </div>
            </div>
          </div>
      
          <div class="form-group" style="gap: 30px;">
            <div style="height: 87px;">
              <div>
                <label for="country">{{ 'REGISTRO_PROVEEDORES.PAIS' | translate }}</label>
              </div>
              <div class="category-selector">
                <select class="category-dropdown" formControlName="country" title="{{ 'REGISTRO_PROVEEDORES.SELECCIONAR_PAIS' | translate }}">
                  <option value="" disabled>{{ 'REGISTRO_PROVEEDORES.SELECCIONAR_PAIS' | translate }}</option>
                  <option *ngFor="let c of countryList" [value]="c">{{ c }}</option>
                </select>
                <div class="error-msg"
                    *ngIf="supplierForm.get('country')?.touched && supplierForm.get('country')?.hasError('required')">
                  {{ 'REGISTRO_PROVEEDORES.ERRORES.PAIS_REQUERIDO' | translate }}
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="contact">{{ 'REGISTRO_PROVEEDORES.CONTACTO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.NOMBRE_CONTACTO' | translate }}" 
                id="contact" 
                class="form-input" 
                formControlName="contact"
              >
              <div class="error-msg"
                  *ngIf="supplierForm.get('contact')?.touched && supplierForm.get('contact')?.hasError('required')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_NOMBRE_REQUERIDO' | translate }}
              </div>
              <div class="error-msg"
                  *ngIf="supplierForm.get('contact')?.touched &&
                          (supplierForm.get('contact')?.hasError('minlength') ||
                          supplierForm.get('contact')?.hasError('maxlength'))">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_NOMBRE_LONGITUD' | translate:{min:3,max:100} }}
              </div>
              <div class="error-msg"
                  *ngIf="supplierForm.get('contact')?.touched && supplierForm.get('contact')?.hasError('pattern')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_NOMBRE_CARACTERES' | translate }}
              </div>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.APELLIDO_CONTACTO' | translate }}" 
                id="contactLastname" 
                class="form-input" 
                formControlName="contactLastname"
              >
              <div class="error-msg"
                  *ngIf="supplierForm.get('contactLastname')?.touched && supplierForm.get('contactLastname')?.hasError('required')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_APELLIDO_REQUERIDO' | translate }}
              </div>
              <div class="error-msg"
                  *ngIf="supplierForm.get('contactLastname')?.touched &&
                          (supplierForm.get('contactLastname')?.hasError('minlength') ||
                          supplierForm.get('contactLastname')?.hasError('maxlength'))">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_APELLIDO_LONGITUD' | translate:{min:3,max:100} }}
              </div>
              <div class="error-msg"
                  *ngIf="supplierForm.get('contactLastname')?.touched && supplierForm.get('contactLastname')?.hasError('pattern')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CONTACTO_APELLIDO_CARACTERES' | translate }}
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="telephone">{{ 'REGISTRO_PROVEEDORES.TELEFONO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.TELEFONO' | translate }}" 
                id="telephone" 
                class="form-input" 
                formControlName="telephone"
              >
              <div class="error-msg"
                  *ngIf="supplierForm.get('telephone')?.touched && supplierForm.get('telephone')?.hasError('required')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.TELEFONO_REQUERIDO' | translate }}
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="email">{{ 'REGISTRO_PROVEEDORES.CORREO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.CORREO' | translate }}" 
                id="email" 
                class="form-input" 
                formControlName="email"
              >
              <div class="error-msg"
                  *ngIf="supplierForm.get('email')?.touched && supplierForm.get('email')?.hasError('required')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CORREO_REQUERIDO' | translate }}
              </div>
              <div class="error-msg"
                  *ngIf="supplierForm.get('email')?.touched && supplierForm.get('email')?.hasError('email')">
                {{ 'REGISTRO_PROVEEDORES.ERRORES.CORREO_INVALIDO' | translate }}
              </div>
            </div>
          </div>
      
        </div>
      
        <button
          type="submit"
          class="submit-button"
          [ngClass]="{ 'is-disabled': supplierForm.invalid }"
        >
          {{ 'REGISTRO_PROVEEDORES.REGISTRAR' | translate }}
        </button>
      </form>      
      

    </div>
  </div>
</div>