<div class="main-container">
  <app-barra-superior></app-barra-superior>
  <div class="content-container">
    <app-menu-lateral></app-menu-lateral>
    <div class="content-area">
      

      <form class="product-form" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <h1 class="form-title">{{ 'REGISTRO_PROVEEDORES.TITULO' | translate }}</h1>
        
        <div class="form-grid">
          
          <div class="form-group">
            <div class="label-izq">
              <label for="name">{{ 'REGISTRO_PROVEEDORES.NOMBRE_LABEL' | translate }}</label>
            </div>
          </div>
      
          <div class="form-group">
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.NOMBRE_PLACEHOLDER' | translate }}" 
                id="name" 
                class="form-input" 
                formControlName="name"
              >
            </div>
          </div>
      
          <div class="form-group" style="gap: 30px;">
            <div style="height: 87px;">
              <div>
                <label for="country">{{ 'REGISTRO_PROVEEDORES.PAIS' | translate }}</label>
              </div>
              <div class="category-selector">
                <select class="category-dropdown" formControlName="country">
                  <option value="" disabled>{{ 'REGISTRO_PROVEEDORES.SELECCIONAR_PAIS' | translate }}</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Brasil">Brasil</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Ecuador">Ecuador</option>
                </select>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="contact">{{ 'REGISTRO_PROVEEDORES.CONTACTO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.NOMBRE_CONTACTO' | translate }}" 
                id="contact" 
                class="form-input" 
                formControlName="contact"
              >
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.APELLIDO_CONTACTO' | translate }}" 
                id="contactLastname" 
                class="form-input" 
                formControlName="contactLastname"
              >
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="telephone">{{ 'REGISTRO_PROVEEDORES.TELEFONO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.TELEFONO' | translate }}" 
                id="telephone" 
                class="form-input" 
                formControlName="telephone"
              >
            </div>
          </div>
      
          <div class="form-group">
            <div class="label-izq">
              <label for="email">{{ 'REGISTRO_PROVEEDORES.CORREO' | translate }}</label>
            </div>
            <div>
              <input 
                placeholder="{{ 'REGISTRO_PROVEEDORES.CORREO' | translate }}" 
                id="email" 
                class="form-input" 
                formControlName="email"
              >
            </div>
          </div>
      
        </div>
      
        <button type="submit" class="submit-button">
          {{ 'REGISTRO_PROVEEDORES.REGISTRAR' | translate }}
        </button>
      </form>      
      

    </div>
  </div>
</div>