html, body {
    overflow-x: auto;
  }
  
  .main-container {
      display: flex;
      flex-direction: column;
      height: 90vh;
      font-family: 'Roboto', sans-serif;
    }
    
    .content-container {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  
  .content-area {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

.form-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #141414;
    margin: 24px 0;
  }

.generate-route-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    gap: 2rem;
}
  
  .product-form {
    padding: 0;
    width: 85%;
  }
  
  .form-grid {
    display:flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  
  .form-group {
    display: flex;
    flex-direction:row;
    align-items: center;
    
    label {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #141414;
      margin-bottom: 8px;
    }
    
    &.full-width {
      grid-column: span 2;
    }
  }

  .form-group .label-izq{
    width: 194px;
  }
  
  .form-input {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    width: 164px;
    
    &:focus {
      border-color: #3f51b5;
      box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
    }
  }

  .form-input-2 {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    width: 644px;
    
    &:focus {
      border-color: #3f51b5;
      box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
    }
  }
  
  .submit-button {
    background-color: #075D99;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 31%;
    
    &:hover {
      background-color: #303f9f;
    }
    
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.4);
    }
  }

  .result-table {
    width: auto;        /* Deja que el ancho dependa de la tabla */
    max-width: 100%;
  }

  .result-table table {
    width: 100%;
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
  }
  
  .result-table th,
  .result-table td {
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
    background-color: white; /* Sin fondo distinto para thead */
  }

  .result-table th{
    font-size: 11pt;
    color: #717171;
    font-weight: normal;
  }

  .result-table td{
    color: #141414;
    font-weight: normal;
  }

  .result-table td b{
    font-weight: 500;
  }

  .result-table td br{
    height: 8px;
  }
  
  /* Expandir columna de direcciones */
  .wide-address {
    width: 40%;
  }  
  
  /* Fila de encabezado */
  .result-table thead {
    background-color: #f9f9f9;
    position: relative;
  }

  .result-table thead th{
    padding-top: 1rem;
  }