<div class="main-container">
  <app-barra-superior></app-barra-superior>
  <div class="content-container">
    <app-menu-lateral></app-menu-lateral>
    <div class="content-area">
      
      <div style="width: 100%;">
        <div class="titulo">
          <h1 class="form-title"> {{ 'REGISTRO_TIPO.TITULO' | translate }} </h1>
        </div>
        <div class="botones">
          <button type="submit" class="submit-button" (click)="registroInd()">{{ 'REGISTRO_TIPO.INDIVIDUAL' | translate }}</button>
          <button type="submit" class="submit-button">{{ 'REGISTRO_TIPO.MASIVO' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>