<!DOCTYPE html>
<html>
  <body>
    <div class="inicio-de-sesin">
      <div class="div">
        <div class="top">
          <div class="LOGO-CCP"><img class="img" src="assets/LOGO-CCP.png" /></div>
        </div>
        <div class="frame">
          <div class="div-wrapper"><div class="text-wrapper">Iniciar sesión</div></div>
          <div class="frame-2">
            <div class="input-field"><div class="others">Correo electrónico</div></div>
            <div class="input-field"><div class="others">Contraseña</div></div>
          </div>
          <div class="button-wrapper">
            <button class="button"><button class="button-2">Ingresar</button></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
