<div class="main-container">
  <app-barra-superior></app-barra-superior>
  <div class="content-container">
    <app-menu-lateral></app-menu-lateral>
    <div class="content-area">
      
      <form [formGroup]="settingsForm" (ngSubmit)="guardarAjustes()">
        <h1 class="form-title">{{ 'AJUSTES.TITULO' | translate }}</h1>

        <div class="form-grid">

        <div class="form-group" style="gap: 30px;">
          <div style="height: 87px;">
            <div><label>{{ 'AJUSTES.PAIS' | translate }}</label></div>
            <div class="category-selector">
              <select class="category-dropdown" formControlName="pais">
                <option value="" disabled>{{ 'AJUSTES.SELECCIONAR_PAIS' | translate }}</option>
                <option value="col">Colombia</option>
                <option value="arg">Argentina</option>
                <option value="bra">Brasil</option>
                <option value="chi">Chile</option>
                <option value="ecu">Ecuador</option>
              </select>
            </div>
          </div>
        </div>

    
        <div class="form-section">
          <label>{{ 'AJUSTES.IDIOMA' | translate }}</label>
          <div class="radio-group">
            <label>
              <input type="radio" formControlName="idioma" value="es" />
              <span>Español</span>
            </label>
            <label>
              <input type="radio" formControlName="idioma" value="en" />
              <span>English</span>
            </label>
            <label>
              <input type="radio" formControlName="idioma" value="pt" />
              <span>Português</span>
            </label>
          </div>
        </div>
    
        <div class="form-section">
          <label>{{ 'AJUSTES.CONTRASTE' | translate }}</label>
          <div class="radio-group">
            <label><input type="radio" formControlName="contraste" value="off" /> {{ 'AJUSTES.DESACTIVADO' | translate }}</label>
            <label><input type="radio" formControlName="contraste" value="on" /> {{ 'AJUSTES.ACTIVADO' | translate }}</label>
          </div>
        </div>
    
        <button class="submit-button" type="submit">{{ 'AJUSTES.GUARDAR' | translate }}</button>

      </div>
      </form>      

    </div>
  </div>
</div>